<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">


	<!-- RESTLET -->
	
	 <servlet>
            <servlet-name>RestletServlet</servlet-name>
            <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
            <init-param>
                    <param-name>org.restlet.application</param-name>
                    <param-value>com.binomed.server.rest.RestletApplication</param-value>
            </init-param>
    </servlet>

	<!-- Catch all requests -->
	<servlet-mapping>
		<servlet-name>RestletServlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	
	<!-- Java-Json-RPC -->
	
	<servlet>
	<servlet-name>JsonRpcServlet</servlet-name>
		<servlet-class>cz.eman.jsonrpc.server.JsonRpcServlet</servlet-class>
		<init-param>
			<param-name>javajsonrpc</param-name>
			<param-value>com.binomed.server.rpc.javajsonrpc.JavaJsonRpcService</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JsonRpcServlet</servlet-name>
		<url-pattern>/jsonrpc/*</url-pattern>
	</servlet-mapping>
	
	
	<!-- Request Factory-->
	
	<servlet>
    <servlet-name>requestFactoryServlet</servlet-name>
	    <servlet-class>com.google.web.bindery.requestfactory.server.RequestFactoryServlet</servlet-class>
	    <init-param>
	      <param-name>symbolMapsDirectory</param-name>
	      <!-- You'll need to compile with -extras and move the symbolMaps directory
	           to this location if you want stack trace deobfuscation to work -->
	      <param-value>WEB-INF/classes/symbolMaps/</param-value>
	    </init-param>
	  </servlet>
	
	  <servlet-mapping>
	    <servlet-name>requestFactoryServlet</servlet-name>
	    <url-pattern>/gwtRequest</url-pattern>
	  </servlet-mapping>
	
	
	<!-- Other -->
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
</web-app>
