
/MyFirstAnimation/bin
/MyFirstAnimation/gen
/MyFirstAnimation/assets
/MyFirstAnimation/proguard.cfg
/MyFirstFragment/bin/classes.dex
/MyFirstFragment/gen/com/binomed/fragment/R.java
/AndEngineSandBox/bin/resources.ap_
/AndEngineSandBox/default.properties
/AndEngineSandBox/gen/com/binomed/andengine/R.java
/AndEngineSandBox/.project
/MyFirstFragment/bin/resources.ap_
/AndEngineSandBox/bin/AndEngineSandBox.apk
/AndEngineSandBox/bin/classes.dex